PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/luxestore
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here
GEMINI_API_KEY=your_gemini_api_key_here


